* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(234, 182, 207);
}
.container{
    padding: 30px 25px 25px 30px;
    background: white;
    border-radius: 15px
}
.disable :where(.editorcol, .saveimg){
    opacity: 0.5;
      pointer-events: none;
}
.title{
    padding: 5px;
    margin-top: 5px;
}
.wrapper {
    margin: 20px 0;
}
.editorcol{
    padding: 20px;
}
.fcol, .ecol{
    border-radius: 15px;
}
.btnrow{
    padding: 5px;
}
.slider{
    padding: 15px;}
.options button {
    outline: none;
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
}

.btnrow{
    align-items: center;
}
.filter-info{
    display: flex;
    justify-content: space-between;
}
input[type="range" ] {
    appearance: auto;
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
   
}

.rotate {
    justify-content: space-between;
}
#left, #right, #horizontal, #vertical{
    padding: 6px;
    background-color: white;
    border:none;
}
.previewimg img {
    max-width: 690px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#myinput {
  background: linear-gradient(to right, #d082a4 0%,  #fff 100%);
  border: solid 1px #d082a4;
  border-radius: 8px;
  height: 7px;
  width: 320px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}


.rsfilter{
    justify-content: space-between;
  position: flex;
}